body {
  
}

h1 {
  text-align: center;
}

img {
  align-items: center;
}

nav a {
  padding-left: 10px; padding-right: 10px; background-color: gray; text-align: center;
}

figcaption {
  align-content: center; 
  font-size:12px;
}


#featured-properties p {